<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>MyStatus</title>
</head>
<body>
<section class="section">
    <div class="container">
        {% for monitor in mons %}
            <div class="card mt-3">
                <div class="card-content">
                    <p class="title">{{ monitor["name"] }}</p>
                    {% if monitor["uptime"][99]["status"] == 1 %}
                        <p class="subtitle"><strong style="color: green">UP</strong></p>
                    {% else %}
                        <p class="subtitle"><strong style="color: red">DOWN</strong></p>
                    {% endif %}
                    <p>Uptime: {{ monitor["uptime_percent"] }}%</p>
                    <div nowrap class="mt-1 uptime-container" >
                        {% for uptime in monitor["uptime"] %}
                            {% if uptime["status"] == 1 %}
                                <div style="background-color: green"
                                     class="dropdown is-hoverable uptime-elem mt-1">
                                    <div class="dropdown-menu" id="dropdown-menu-{{ uptime["time"] }}" role="menu">
                                        <div class="dropdown-content">
                                            <div class="dropdown-item">
                                                <p><strong>Time:</strong> {{ uptime["time"] }}</p>
                                                <p><strong>Ping:</strong> {{ uptime["ping"] }}ms</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div style="background-color: red"
                                     class="dropdown is-hoverable uptime-elem mt-1">
                                    <div class="dropdown-menu" id="dropdown-menu-{{ uptime["time"] }}" role="menu">
                                        <div class="dropdown-content">
                                            <div class="dropdown-item">
                                                <p><strong>Time:</strong> {{ uptime["time"] }}</p>
                                                <p><strong>Message:</strong> {{ uptime["msg"] }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>

            </div>
        {% endfor %}
    </div>

</section>

</body>
</html>
<style>
    .uptime-elem {
        position: relative;
        white-space: nowrap;
        width: 8px;
        height: 40px;
        float: left;
        margin-left: 1px;
    }
    @media only screen and (max-width: 300px) {
        .uptime-elem {
            white-space: nowrap;
            width: 2px;
            height: 15px;
            float: left;
            margin-left: 1px;
        }

    }

    @media only screen and (max-width: 600px) and (min-width: 301px){
        .uptime-elem {
            white-space: nowrap;
            width: 3px;
            height: 20px;
            float: left;
            margin-left: 1px;
        }

    }
     @media only screen and (max-width: 1000px) and (min-width: 601px){
        .uptime-elem {
            white-space: nowrap;
            width: 4px;
            height: 40px;
            float: left;
            margin-left: 1px;
        }

    }

    .uptime-container {
        height: 40px;
        width: 100%;
    }

    @media only screen and (max-width: 600px) {
        .uptime-container {
            position: relative;
            height: 20px;
            width: 100%;
        }
    }
</style>